        <tr>
          <th scope="row" class="d-none d-md-block">1</th>
          <td><%= payment.description %></td>
          <td><%= payment.amount %></td>
          <td><%= payment.user.name %></td>
        </tr>